<div class="container bg-light" style="height: 100vh;">
    <h1 class="text-center">Yönetici Paneline Hoşgeldiniz</h1>
<div class="container mt-5">
    <div class="mx-auto">
        <button type="button" class="btn btn-primary btn-block mb-3" [routerLink]="['../yoneticikategori']"><h3>Kategoriler</h3><br><h6>Kategori eklemek ve düzenlemek için kullanılır</h6></button>
        <button type="button" class="btn btn-success btn-block mb-3" [routerLink]="['../yoneticihaber']"><h3>Haberler</h3><br><h6>Haber eklemek ve düzenlemek için kullanılır</h6></button>
        <button type="button" class="btn btn-warning btn-block mb-3" [routerLink]="['../yoneticiuye']"><h3>Üyeler</h3><br><h6>Üye eklemek ve düzenlemek için kullanılır</h6></button>

    </div>

</div>
</div>
