<div class="container bg-light" style="min-height: 100vh;">
  <div class="row">
    <div class="col-md-3">
      <img class="card-img-top m-3" [src]="haber?.haberFoto" alt="Card image cap" />
    </div>
    <div class="col-md-8 ml-3 mt-3">
      <div class="mb-5">
        <h3>{{haber?.haberBaslik}}</h3>
      </div>
      <div class="mt-5"><span>{{haber?.haberTarih |date:"dd/MM/yyyy HH:mm"}}</span><!--<span class="float-right">       <span class="material-icons">visibility</span>0 kez okundu</span> -->
      </div>
    </div>
  </div>
  
  <hr>
  <div class="row">
      <div class="col-md-12">{{haber?.haberDetay}}</div>
  </div>
</div>
